[Unit]
Description=coca-cola
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/ncat -nvlkp 8001 -m1000 -c {{ challenge_root }}/{{ challenge_name }}.py
User={{ flag_user }}

[Install]
WantedBy=multi-user.target
